.SideDrawer {
  display: block;
  position: fixed;
  width: 15rem;
  max-width: 70vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: white;
  padding: 2rem 1rem;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (min-width: 30rem) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0%);
}

.Close {
  transform: translateX(-100%);
}

.Logo {
  height: 11%;
  border-bottom: 2rem;
}
